/node_modules
/public/hot
/public/storage
/public/feeds
/public/invoices
/public/contracts
/public/css
/public/js
/public/vendor
/storage
/storage/*.key
/resources/docs
/resources/views/scribe
/vendor
.env
.env.backup
.scribe
.DS_Store
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/app/Http/Controllers/Sandbox
/docker/mysql/dbdata
