[mysqld]
#This my.cnf file enables logs, defining the general_log setting as 1 to allow general logs.
#The general_log_file setting specifies where the logs will be stored.
general_log = 1
general_log_file = /var/log/mysql/general.log
